<footer>
    <nav>
        <ul>
            <li><a href="https://anatolethien.eu">Author</a></li>
            <li><a href="https://github.com/anatolethien/recipe-book">Repository</a></li>
        </ul>
    </nav>
</footer>
