<footer class="container">
    <small>
        <ul>
            <li><a href="https://anatolethien.eu">Author</a></li>
            <li><a href="https://github.com/anatolethien/calepin">Repository</a></li>
        </ul>
    </small>
</footer>
