<header>
    <h2>Recipe book</h2>
    <nav>
        <ul>
            <li><a href="/">Index</a></li>
            <li><a href="/recipes">Recipes</a></li>
            <li><a href="/api">API</a></li>
        </ul>
    </nav>
</header>
