<nav class="container-fluid">
    <ul>
        <li><a href="/" class="contrast">Home</a></li>
        <li><a href="/recipes" class="contrast">Recettes</a></li>
        <li><a href="/api" class="contrast">API</a></li>
    </ul>
    <ul>
        <li><a href="#" class="contrast" data-theme-switcher="light">Light</a></li>
        <li><a href="#" class="contrast" data-theme-switcher="dark">Dark</a></li>
    </ul>
</nav>
