<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <meta charset="utf-8">
        <title>Index - Recipe book</title>
        <link rel="stylesheet" href="/static/css/pico.classless.min.css">
        <link rel="icon" href="/static/images/pan.svg">
    </head>
    <body>
        <%- include("_header") -%>
        <main>
            main content
        </main>
        <footer>
            footer content
        </footer>
    </body>
</html>
